<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<link rel="stylesheet" href="css/main.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<div class="container">
  <form action="/test" method="post">
    <label for="userId">userId</label>
    <input type="text" id="userId" name="userId" required>

	<label for="userName">userName</label>
    <input type="text" id="userName" name="userName" required>
    
    <label for="userBirthday">userBirthday</label>
    <input type="text" id="userBirthday" name="userBirthday" required>
    
    <label for="userPhoneNumb">userPhoneNumb</label>
    <input type="text" id="userPhoneNumb" name="userPhoneNumb" pattern="^\d{3}-\d{3,4}-\d{4}$" required>
    
    <label for="userPassword">Password</label>
    <input type="password" id="userPassword" name="userPassword" maxlength="16" required>
<!--     <input type="password" id="userPassword" name="userPassword" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[?!@#$%^&*-]).{8,16}$" maxlength="16" required> -->
    
<!--     <input type="button" value="testGo" id="bt"> -->
 	<label for="userCode">Recommender Code</label>
    <input type="userCode" id="userCode" name="userCode" maxlength="10">

    <input type="submit" value="testGo" id="bt">
  </form>
</div>
<script type="text/javascript">

</script>
</html>
